@import url("https://fonts.googleapis.com/css2?family=BenchNine&display=swap");
body {
  margin: 0;
  font-family: "BenchNine", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #26291e;
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 4rem;
}
h2,
h3 {
  font-size: 2.5rem;
}
